# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
node_modules
.bower-*/
bower_components
coverage
reports

# General
# =======
*.log
dist
typings
target

# Editors
# =======
.idea
.vscode

# Generated Config
# =======
src/config/config.json
